# Variables de entorno para desarrollo
VITE_API_URL=http://localhost:8000/api
VITE_USE_MOCKS=true
VITE_APP_NAME=FRONT-kiwi
VITE_APP_VERSION=1.0.0

# Variables para producción (cuando tengas el backend real)
# VITE_API_URL=https://tu-backend.com/api
# VITE_USE_MOCKS=false 