# Variables de entorno para desarrollo con Backend KiwiPay
VITE_API_URL=http://localhost:8080/api/v1
VITE_USE_MOCKS=false
VITE_APP_NAME=KiwiPay Loan Management
VITE_APP_VERSION=1.0.0
VITE_DEBUG=true

# Variables para staging
# VITE_API_URL=https://staging-api.kiwipay.pe/api/v1
# VITE_USE_MOCKS=false
# VITE_DEBUG=false

# Variables para producción 
# VITE_API_URL=https://api.kiwipay.pe/api/v1
# VITE_USE_MOCKS=false
# VITE_DEBUG=false 